body{
    background-image: url(thumb-1920-749807.png);
    background-size: cover;
    background-color: red;
}
header{
    margin-bottom: 150px;
    margin-top: 50px;
    margin-left: 50px;
}
main{
    width: 100%;
}
footer{
    margin-left: 50px;
    margin-top: 10px;
}
.title{
    display: flex;
    grid-gap: flex-end;
    justify-content: space-between;
    width: 100px;
}
.title__text{
    color: black;
    width: 500px;
    font-family: 'Climate Crisis', cursive;
    margin-left: 40px;
    margin-bottom: 100px;
    width: 100px;
}
.description__text{
    color: whitesmoke;
    margin-left: 40px;
    margin-right: 1300px;
    font-size: 10px;
    font-family: 'Climate Crisis', cursive; 
    width: 400px;
}
.description__logo{
    margin-left: 40px;
    width: 300px;
}
.video__1{
    margin-right: 50px;
}
.video__2{
    margin-right: 50px;
}
.redes__sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1400px;
    width: 1px;
}
.youtube{
    margin-bottom: 25px;
    width: auto;
}
.twitter{
    margin-bottom: 25px;
    width: auto;
}
.instagram{
    margin-bottom: 25px;
    width: auto;
}
.facebook{
    margin-bottom: 25px;
    width: auto;
}